<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Đăng xuất thành công</title>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-image: url('https://img4.thuthuatphanmem.vn/uploads/2020/06/05/hinh-nen-cong-nghe-cho-may-tinh_103228586.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top;height:100%;">
	<div style="margin-top:20px;margin-left:20px;">
     <a th:href="@{/khoahoc}"><button type="button" class="btn btn-info">Trang chủ</button></a>  
   </div>
	<h1 style=" margin:220px;margin-left:400px; text-align: center; color:white; font-size: 80px;">Đăng xuất tài khoản thành công!</h1>

</body>
</html>